<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- <div class="container-fluid"> -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="navbar-nav">
        <li class="active nav-item"><a class="nav-link" routerLink="/loginForm">LoginForm</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/NgModelGroupForm">ngModelGroup</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="/reactiveForm">Reactive Form</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/complexReactiveForm">FormGroup Use/formControlName</a></li>
      </ul> 
    <!-- </div> -->
  </nav> 